.sortable-lists-elements div.select-block ul {
  min-height: 50px;
}
.sortable-lists-elements div.select-set {
  display: none;
}
.sortable-lists-elements .item-placeholder {
  border: dashed #000 1px;
}
